.navbar {
    width: 200px;
    height: 100px;  
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    display: fixed;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar li {
    padding: 16px;
    text-align: center;
  }
  
  .navbar li a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .navbar li a:hover {
    background-color: #575757;
  }
  